@charset "utf-8";
html,body{font-family: Helvetica Neue, Helvetica, Arial,"Microsoft Yahei"}
*{margin: 0;padding: 0;box-sizing: border-box}
ul,li{list-style-type: none}
a{ color: #585858;text-decoration: none}
h1,h2,h3,h4,h5,h6{font-style: normal;font-weight: normal}

.ft_main_menu{height: 70px;background: #f5f6f5;border-top: #d3d3d3 solid 1px;width: 100%;bottom: 0;left:0;position: fixed;
    }
.ft_main_menu ul{ display: flex}
.ft_main_menu ul li{flex: 1;text-align: center;padding-top: 10px;}
.ft_main_menu ul li p{font-size: 12px;text-align: center;line-height: 20px;}

.ftmenu_ico{ display: block;height: 40px;width:40px;margin: 0 auto;background: #777777}

.app_title{line-height: 40px;
    font-size: 16px;
    background: rgba(40,40,40,0.6);
    color: #f5f6f5;
    text-align: center
}