@charset "utf-8";
html,body{font-family: Helvetica Neue, Helvetica, Arial,"Microsoft Yahei"}
*{margin: 0;padding: 0;box-sizing: border-box}
ul,li{list-style-type: none}
a{ color: #585858;text-decoration: none}
h1,h2,h3,h4,h5,h6,b,i{font-style: normal;font-weight: normal}

.flo{position: relative; float: left}
.flo_r{position: relative; float: right}
.overline{width:100%;}

.clearfid{
    clear: both;
    content: '';
}
.clearfid:after{
    clear: both;
    content: '';
    position: relative;
    display: block;
}


/*   */
.messagelist{

}
.messagelist li{
    padding: 10px 60px 10px 60px;
    float: left;
    width:100%;
    min-height: 60px;
    position: relative;

}
.messagelist li .user_ico{
    width:40px;
    height: 40px;
    background: #f5f6f5;
    border:#d1d1d1 solid 1px;
}
.messagelist li .user_ico_left{
    position: absolute;
    left:10px;
    top:10px;
}
.messagelist li .user_ico_right{
    position: absolute;
    right:10px;
    top:10px;
}

.messagelist li .user_text{
    padding: 10px;
    background: #f5f6f5;
    color: #0077b3;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    border: #d1d1d1 solid 1px;
    position: relative;
}
.messagelist li .user_text b.text_ico{
    width:10px;
    height: 10px;
    background: #f5f6f5;
    border-top: #d1d1d1 solid 1px;
    border-left:#d1d1d1 solid 1px;
    display: block;
    position: absolute;
    transform:rotate(-45deg);
}

.messagelist li .user_text b.text_ico_left{
    transform:rotate(-45deg);
    position: absolute;
    left:-6px;top:15px;

}
.messagelist li .user_text b.text_ico_right{
    transform:rotate(135deg);
    position: absolute;
    right:-6px;
    top:15px;

}
.mess_pos{
    width:100%;
    border-top: #d1d1d1 solid 1px;
    position: fixed;
    bottom:0;
    padding: 15px 15px;
    background: #f5f6f5
}

.message_input{
    padding: 0 15px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    border: #d3d3d3 solid 1px;;
}
