@charset "utf-8";
html,body{font-family: Helvetica Neue, Helvetica, Arial,"Microsoft Yahei"}
*{margin: 0;padding: 0;box-sizing: border-box}
ul,li{list-style-type: none}
a{ color: #585858;text-decoration: none}
h1,h2,h3,h4,h5,h6,b,i{font-style: normal;font-weight: normal}

.flo{position: relative; float: left}
.flo_r{position: relative; float: right}
.overline{width:100%;}

.clearfid{
    clear: both;
    content: '';
}
.clearfid:after{
    clear: both;
    content: '';
    position: relative;
    display: block;
}


/*   */
.mod_title{ line-height: 30px; background: rgba(0,0,0,0.8);font-size: 16px; color: #f5f6f5;width:100%;
    float: left;}
.page_message_struct{
    padding-bottom: 80px;
}
.messagelist{

}
.messagelist li{
    padding: 10px 60px 10px 60px;
    float: left;
    width:100%;
    min-height: 60px;
    position: relative;

}
.messagelist li .user_ico{
    width:40px;
    height: 40px;
    background: #f5f6f5;
    border:#d1d1d1 solid 1px;
}
.messagelist li .user_ico_left{
    position: absolute;
    left:10px;
    top:10px;
}
.messagelist li .user_ico_right{
    position: absolute;
    right:10px;
    top:10px;
}

.messagelist li .user_text{
    padding: 10px;
    background: #f5f6f5;
    color: #0077b3;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    border: #d1d1d1 solid 1px;
    position: relative;
}
.messagelist li .user_text b.text_ico{
    width:10px;
    height: 10px;
    background: #f5f6f5;
    border-top: #d1d1d1 solid 1px;
    border-left:#d1d1d1 solid 1px;
    display: block;
    position: absolute;
    transform:rotate(-45deg);
}

.messagelist li .user_text b.text_ico_left{
    transform:rotate(-45deg);
    position: absolute;
    left:-6px;top:15px;

}
.messagelist li .user_text b.text_ico_right{
    transform:rotate(135deg);
    position: absolute;
    right:-6px;
    top:15px;

}
.mess_pos{
    width:100%;
    border-top: #d1d1d1 solid 1px;
    position: fixed;
    bottom:0;
    padding: 15px 15px;
    background: #f5f6f5
}

.message_input{
    padding: 0 15px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    border: #d3d3d3 solid 1px;;
}

.footmenu{
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: #d3d3d3 solid 1px;
    height:50px;
    width:100%;
    background: #f5f6f5;
    display: flex;

}
.footmenu li{
    flex:1;
    border-right: #d3d3d3 solid 1px;
    text-align: center;
    color: #848484;
    font-size: 12px;
    padding-top: 25px;
    line-height: 20px;

}
.footmenu li:last-child{
    border-right:none ;
}

.pad_lr_15{padding: 0 15px}
.mod_title{
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border-bottom: #d3d3d3 solid 1px;
    background: #f5f6f5;
    color: #848484;
}

.login_area{
    padding: 40px 20px 10px;

}
.login_area p{
    display: inline-block;
    width: 100%;
    border: #d8d8d8 solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.login_area p input{
    display: inline-block;
    line-height: 40px;
    width: 100%;
    padding-left: 20px;
    color: #848484;
    border: none;;
    font-size: 16px;
}

.btn_normal{
    position: relative;
    width: 100%;
    line-height: 40px;
    background: #848484;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.pos_pwd{
    position: absolute;
    line-height: 40px;
    right: 0;
    width: 100px;
    top: 0;
    height: 40px;
    background: #f5f6f5;
    text-align: center;
    color: #848484;
}
.account_tab{
    padding: 8px 0;
    border-bottom: #a3a3a3 solid 1px;
    background: #d3d3d3;
    text-align: center;
}
.account_tab p{
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    background: #f5f6f5;
    position: relative;
    float: left;
    margin-left: 50%;
    left:-80px;
}
.account_tab span{
    display: inline-block;
    width: 80px;;
    padding: 0 10px;
    line-height: 25px;
    font-size: 12px;
    color: #848484;
}
.account_tab span.active{
    background: #848484;
    color: #f5f6f5;
}
